@font-face {
    font-family: 'hachimarupop';
    src: url('assets/fonts/HachiMaruPop-Regular.ttf');
  }

@font-face {
    font-family: 'ktegaki';
    src: url('assets/fonts/KTEGAKI.ttf');
  }

@font-face {
    font-family: 'matesc';
    src: url('assets/fonts/MateSC-Regular.ttf');
  }

@font-face {
    font-family: 'notoserifjp';
    font-weight: 600;
    src: url('assets/fonts/NotoSerifJP-Regular.otf');
  }

@font-face {
    font-family: 'pretend';
    font-weight: bold;
    src: url('assets/fonts/Pretendard-Regular.otf');
  }



:root {
    --accentColor: #72564B;
    --font: 'ktegaki', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

#card {
    max-width: 30rem;
    padding: 0 20px 15px;
    margin: 0 auto;
}

#cardMenu {
    display: none;
}

#bannerContainer {
    height: 300px;
    position: relative;
}

#banner {
    height: 100%;
    background-image: url('banner-real.png');
    background-size: cover;
    background-position: center 25%;
}

#likes {
    color: #FD8676;
    will-change: contents;
}

.socialText {
    display: inline-block;
    padding-left: 2px;
}

#cardText {
    display: none;
}

#header {
    text-align: center;
    margin-top: 60px;
    position: relative;
}

#sqllogo1 {
    display: block;
    position: absolute;
    background-image: url('assets/img/sqllogo1.png');
    height: 145px;
    width: 127px;
    background-size: cover;
    top: 5rem;
    right: 0;
}

#python1 {
    display: block;
    position: absolute;
    background-image: url('assets/img/python1.png');
    height: 145px;
    width: 127px;
    background-size: cover;
    top: 5rem;
    right: 0;
}

#tableau1 {
    display: block;
    position: absolute;
    background-image: url('assets/img/tableau1.png');
    height: 145px;
    width: 127px;
    background-size: cover;
    top: 5rem;
    right: 0;
}

#excel1 {
    display: block;
    position: absolute;
    background-image: url('assets/img/excel.png');
    height: 145px;
    width: 127px;
    background-size: cover;
    top: 5rem;
    right: 0;
}

#section {
    overflow-x: hidden;
}

@media only screen and (min-width: 600px) {
    #linktree {
        background: url("https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square.png");
    }
    
    #sqllogo1 {
        height: 220px;
        width: 169px;
    }
    
    #banner, #bannerContainer {
        height: 400px;
    }
    
    #python1 {
        top: 19rem;
    }
    
    #card {
        padding: 0 20px 40px;
        margin: 0 auto;
        border: 1px solid var(--accentColor);
        box-shadow: 10px 10px 0 rgb(220 220 220 / 50%);
        background: white;
        border-radius: 10px;
        padding: 0 20px 50px;
        margin: 15px auto;
        position: relative;
        transform: translateY(-150px);
    }
    
    #cardMenu {
        display: initial;
        width: 75px;
        position: absolute;
        height: 16px;
        margin-right: 15px;
        right: 0;
        border: 1px solid var(--accentColor);
        border-top: 0;
    }
    
    .rightButtons {
        width: 24px;
        float: left;
        font-family: 'pretend', sans-serif;
        height: 100%;
        text-align: center;
        color: #87B6D3;
        font-size: 11px;
        background-color: #ffffff;
    }
    
    #button1 {
        border-right: 1px solid var(--accentColor);
        line-height: 1.2;
    }

    #button2 {
        border-right: 1px solid var(--accentColor);
        line-height: 1.8;
        font-size: 9px;
    }

    #button3 {
        line-height: 1.5;
    }
    
    #cardBar {
        background: #e9f6fd;
        height: 25px;
        width: -webkit-fill-available;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        left: 0;
        margin: 0 auto;
        position: absolute;
    }
    
    #cardText {
        display: initial;
        left: 0;
        position: absolute;
        font-family: 'Consolas';
        font-size: 0.625rem;
        margin-left: 15px;
        margin-top: 7px;
        color: #87B6D3;
        letter-spacing: 0.1rem;
        text-transform: lowercase;
    }
    
    #header {
        margin-top: 75px;
    }
}

.headerName {
    font-family: 'hachimarupop', sans-serif;
    text-align: center;
    font-size: 2rem;
    line-height: 1.25;
    color: #72564B;
    display: inline-block;
}

.headerText {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: 'matesc', sans-serif;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #8f7156;
}

.headerEmail {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25;
    padding-top: 20px;
    display: block;
    font-family: 'matesc', sans-serif;
    width: 100%;
    text-align: center;
    text-underline-offset: 5px;
    color: #8f7156;
    transition: color 0.3s ease-in-out;
}

.headerEmail:hover {
    color: var(--accentColor);
}

.headerTextAccent {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.mb-5 {
    margin-bottom: 5px;
}

.dek {
    padding-top: 20px;
    max-width: 25rem;
    margin: 0 auto;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 30px 15px 0;
}

.linkContainer {
    position: relative;
    width: 100%;
    height: 51px;
    background-color: #F6EDE1;
    border-radius: 0.375rem;
    margin-bottom: 15px;
}
    
        
    
    
